/* Body */
body {
    font-family: 'Poppins', sans-serif;


}

/* Container */

.container{max-width: 1200px;
margin: 0 auto;
padding: 0 30px;}

/* Header */
.header {
    margin-top: 90px;
    margin-left: 120p;
}

/* nave */

nav {
    display: flex;
    justify-content: space-between;
    height: 80px;
    text-align: center;
}

/* Navigation */

.navigation {
    list-style: none;
    display: flex;
    padding: 5px;
}

ul li {
    margin: 10px;
}

ul li a {
    text-decoration: none;
}

/* Banner */

.banner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 133px;
    margin-top: 145px;
}

.banner-left {
    width: 582px;
    height: 270px;
    margin-left: 120px;

}

h1 {
    font-size: 52px;
    font-weight: 700px;
    line-height: 70px;
}

.button {
    background-color: aquamarine;
    height: 44px;
    width: 196px;
    border-radius: 41px;
    border-style: hidden;
}

.fas {
    margin-left: 10px;
}

.banner-right {
    height: 414px;
    width: 440px;

}

/* logos */

.logos {
    width: 1110;
    height: 110px;
}

.logo {
    list-style: none;
    display: flex;
    justify-content: center;

}

ul li {
    margin-left: 10px;
}

/* Products */

}
.product-title {
    justify-content: center;
}

.products { display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 329px;
    height: 476px;
}

}
.fa-star.filled {
    color: cornflowerblue;
    font-size: 12px;
}

.fa-star-half-alt {
    color: cornflowerblue;
    font-size: 12px;
}